/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Utility
# Cards
# Common
# Form
# Navigations
# Animations
# Mobile Nav
# Search Popup
# Page Header
# Google Map
# Client Carousel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
  --sonchoy-base: #119e62;
  --sonchoy-base-rgb: 17, 158, 98;
  --sonchoy-black: #2c2c2c;
  --sonchoy-black-rgb: 44, 44, 44;
}














/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/