/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Utility
# Cards
# Common
# Form
# Navigations
# Animations
# Mobile Nav
# Search Popup
# Page Header
# Google Map
# Client Carousel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
  --sonchoy-base: #eb1919;
  --sonchoy-base-rgb: 235, 25, 25;
  --sonchoy-black: #0f0f0f;
  --sonchoy-black-rgb: 15, 15, 15;
  --sonchoy-primary: #f5f5f8;
  --sonchoy-primary-rgb: 245, 245, 248;
}














/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/