/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Utility
# Cards
# Common
# Form
# Navigations
# Animations
# Mobile Nav
# Search Popup
# Page Header
# Google Map
# Client Carousel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
  --sonchoy-base: #1a73e9;
  --sonchoy-base-rgb: 26, 115, 233;
  --sonchoy-black: #00204a;
  --sonchoy-black-rgb: 0, 32, 74;
}














/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/