/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Utility
# Cards
# Common
# Form
# Navigations
# Animations
# Mobile Nav
# Search Popup
# Page Header
# Google Map
# Client Carousel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
  --sonchoy-base: #2144d8;
  --sonchoy-base-rgb: 33, 68, 216;
  --sonchoy-black: #0d1c37;
  --sonchoy-black-rgb: 13, 28, 55;
  --sonchoy-extra: #fcc810;
  --sonchoy-extra-rgb: 252, 200, 16;
}














/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/